In [1]:
import pandas as pd

In [2]:
path = r'C:\Users\jevo1\Documents\Python Scripts\Prediccion_precio_residencia_kedro\data\02_intermediate'
train_test = r'df_train_test.parquet'
validation = r'df_validation.parquet'

In [4]:
pd.read_parquet(path + '/' +train_test)

,grade,bathrooms,sqft_living15,zipcode,floors,waterfront,condition,fue_renovada,antiguedad_venta,sqft_lot15,sqft_living,bedrooms,view,price,sqft_lot
51845,8.0,2.50,2270.0,98056.0,2.0,0.0,3.0,0,16.0,5400.0,2600.0,3.0,1.0,583000.0,5100.0
16822,8.0,2.00,2540.0,98144.0,2.0,0.0,5.0,0,89.0,6600.0,1610.0,3.0,2.0,735000.0,3600.0
11844,10.0,4.50,2810.0,98027.0,1.5,0.0,5.0,0,32.0,40510.0,4290.0,7.0,0.0,840000.0,37607.0
26890,10.0,3.25,3590.0,98006.0,2.0,0.0,3.0,0,24.0,10750.0,3870.0,3.0,0.0,900000.0,33980.0
44019,11.0,3.50,3770.0,98077.0,2.0,0.0,3.0,0,27.0,40899.0,4040.0,4.0,0.0,910000.0,50479.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14375,7.0,2.00,1570.0,98038.0,1.0,0.0,3.0,0,20.0,7000.0,1220.0,3.0,0.0,249900.0,6404.0
29775,7.0,2.00,1940.0,98155.0,1.0,0.0,3.0,0,36.0,11250.0,1940.0,3.0,0.0,399000.0,16300.0
5801,7.0,1.75,2140.0,98022.0,1.0,0.0,3.0,0,33.0,142005.0,2610.0,3.0,0.0,378000.0,117176.0
16610,7.0,1.50,1620.0,98034.0,1.0,0.0,3.0,0,42.0,7107.0,1340.0,3.0,0.0,387000.0,6500.0
235,6.0,1.00,1480.0,98117.0,1.0,0.0,4.0,0,100.0,5000.0,910.0,2.0,0.0,450000.0,5000.0